:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0px;
}

.desktop-menu {
  width: 100px;
  height: auto;
  padding: 20px 20px 0px 20px;

  border-radius: 6px;
  border: 1px solid var(--very-light-pink);
}

.desktop-menu ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.desktop-menu ul li {
  text-align: end;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: bold;
}

.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
  font-size: var(--sm);

  color: var(--hospital-green);
}

.desktop-menu ul li a {
  display: inline-block;
  margin-bottom: 20px;

  text-decoration: none;
  color: var(--black);
}
